body{
    background-image: url(matrix.gif);
    background-size: cover;
    font-size: 16px;
    font-family: monospace;

  }
  a {
    text-decoration: none;
    color: #0abb0a;
    font-family: Courier;
  }

  * {
    margin: 0;
    padding: 0;
  }
  .logo {
    font-size: 24px;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    align-items: center;
    border-bottom: 1px solid #0abb0a;
    background-color: rgb(0, 0, 0);
    border-radius: 8px 20px;
    height: 6vh;
    font-family: Courier;
    color: white;
  }
  h2{
    text-align: center;
    color: #0abb0a;
    border-color: aliceblue;
    font-size: 50px;
    font-style: oblique;
    font-weight: 10;
    font-family: Courier;
  }

  p {
    text-align: center;
    color: white;
    font-style: italic;
  }
  footer{
    text-align: center;
    font-family: monospace;
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
    color: white;
    font-family: Courier;;
    
    
  }
  legend{
    text-align: center;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #0abb0a;
    border-top: 1px solid #0abb0a;
    text-align: center;
    font-size: 20px;
    border-radius: 8px 20px;
    width: 500px;
    overflow: hidden;
    font-family: Courier;
    background-color: rgba(0, 0, 0, 0.966);
    margin: auto;
    
  }
  input{
    margin: 14px ;
    text-align: center;
    width: 88%;
    overflow: hidden;
    min-height: 1.5em;
    color: green;
    text-align: center;
    font-family: Monospace;
  }
  textarea,
  select {
    margin: 10px 0 77 0;
    width: 99%;
    min-height: 2em;
    font-family: Monospace;
    text-align: center;
    color: green;

  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    color: white;
    background-color: black;
    border-color: green;
    border-radius: 12px;
    min-width: 300px;
  }
 div{
    height: 40px;
 }
        input[type=radio]#personal-account-red{ 
            accent-color: red; 
        } 
        input[type=radio]#personal-account-blue{ 
            accent-color: blue; 
        } 

     ::placeholder{
        color: green;
        text-align: center;
    }
    input[type="text"], [type="number"] {
        background-color: rgb(27, 25, 25);
        border: green;
        border-radius: 11px;
    }
      h3 {
        text-align: center;
        color: green;
        font-family: monospace;
        
        padding: 2rem 0;
        border: none;
    border-bottom: 3px solid #0abb0a;
    border-top: 1px solid #0abb0a;
    text-align: center;
    font-size: 33px;
    border-radius: 8px 20px;
    width: 500px;
    overflow: hidden;
    font-family: Courier;
    background-color: rgba(0, 0, 0, 0.966);
        margin: auto;
      }
      .cl{
        text-align: center;
        color: green;
        font-family: monospace;
        padding: 20rem 0;
        padding-top: 5%;
        border: none;
    border-bottom: 2px solid #0abb0a;
    border-top: 2px solid #0abb0a;
    border-left: 2px solid #0abb0a;
    text-align:  left;
     font-size: 20px;
    border-radius: 020px 20px;
    width: 95%;
    overflow: hidden;
    font-family: Courier;
    background-color: rgb(0, 0, 0);
        margin: auto;
      }
      h4{
        text-align: center;
      }
